---
import Layout from '@/layouts/Layout.astro'
import Button from '@/components/Button.astro'
---

<Layout title='Welcome to Astro.'>
  <form class='h-full p-6'>
    <!-- Wrapper -->
    <div class='mx-auto h-full max-w-3xl lg:max-w-7xl'>
      <!-- Container -->
      <div class='flex h-full flex-col gap-8 xl:flex-row xl:items-center xl:justify-center xl:gap-16'>
        <!-- Left -->
        <div class='flex flex-wrap items-center justify-center'>
          <div class='flex w-full max-w-xl flex-col gap-4'>
            <figure>
              <img
                class='h-10'
                src='https://sierdgtt.mtc.gob.pe/Content/assets/images/logo2.png'
              />
            </figure>
            <h1 class='flex flex-col text-2xl font-medium'>
              <span class='text-sm font-bold uppercase tracking-tight text-accent'>Simulacro de preguntas</span>
              Para Postulantes a Licencias de Conducir
            </h1>
            <p
              >Esta prueba te dará tu nivel de inglés aproximado según la escala MCER (CEFR por sus siglas en inglés).</p
            >
            <p> Selecciona la categoría a la que postula: </p>
            <ul class='border-l-indigo-zinc-300 flex flex-col gap-1 border-l pl-6'>
              <li>
                <span class='font-bold text-white'>Categoria AI</span>
                Particular
              </li>
              <li>
                <span>Categoria AI</span>
                Particular
              </li>
            </ul>
            <div>
              <Button type='submit'
                >Empezar Prueba
                <svg
                  width='1em'
                  height='1em'
                  fill='none'
                  viewBox='0 0 12 12'
                  xmlns='http://www.w3.org/2000/svg'>
                  <path
                    fill='#13161C'
                    d='M6 0 4.943 1.058 9.128 5.25H0v1.5h9.128l-4.185 4.193L6 12l6-6z'>
                  </path>
                </svg>
              </Button>
            </div>
          </div>
        </div>
        <!-- Right -->
        <div class='flex items-center justify-center'>
          <div class='w-full max-w-xl rounded-lg border border-white/20 bg-black/10 px-6 py-4'>
            <p class='mb-4 text-white'>Ten en cuenta que:</p>
            <ul
              class={`flex flex-col gap-4 
                  [&_li]:pl-5 [&_li]:relative [&_li]:before:bg-accent [&_li]:before:content-[""] 
                  [&_li]:before:w-1.5 [&_li]:before:h-1.5 [&_li]:before:absolute  [&_li]:before:rounded-full 
                  [&_li]:before:left-0 [&_li]:before:top-1/2
                `}
              ><li
                class={` 
`}>La cantidad de preguntas se adapta a tu nivel. Puede tomarte entre 10 y 30 minutos aproximadamente.</li
              ><li>El test incluye ejercicios de pronunciación y para eso te pediremos que actives el micrófono.</li><li
                >Al finalizar, recibirás una ruta de aprendizaje para continuar mejorando tu inglés.</li
              ></ul
            >
          </div>
        </div>
      </div>
    </div>
  </form>
</Layout>
