<header>
  <div class='relative py-4 px-3 h-16'>
    <div class='mx-auto relative h-full max-w-3xl xl:max-w-7xl'>
      <div class='flex items-center justify-between'>
        <div> header </div>
        <div>
          <button class='h-9 min-w-9 bg-white/5 flex items-center justify-center rounded-md'>
            <svg width='1em' height='1em' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'
              ><path
                fill='#fff'
                fill-rule='evenodd'
                d='M5.47 5.47a.75.75 0 0 1 1.06 0l12 12a.75.75 0 1 1-1.06 1.06l-12-12a.75.75 0 0 1 0-1.06'
                clip-rule='evenodd'></path><path
                fill='#fff'
                fill-rule='evenodd'
                d='M18.53 5.47a.75.75 0 0 1 0 1.06l-12 12a.75.75 0 0 1-1.06-1.06l12-12a.75.75 0 0 1 1.06 0'
                clip-rule='evenodd'></path></svg
            >
          </button>
        </div>
      </div>
      <div
        class={`absolute w-full right-0 left-0 -bottom-[0.75rem] h-[3px] 
        before:absolute before:content-[''] 
        before:w-full before:h-[3px]
        before:bg-gradient-to-r before:from-green before:to-blue 
      `}>
      </div>
    </div>
  </div>
</header>
